<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/screen.css"/>
</head>
<body>

<div id="p1">
    <h2>No Thanks</h2>
    <ul class="player_list">
        <p class="description">这个桌游是一个简单的卡片游戏，卡牌数值从3~35各1张。
            游戏开始的时候，随机挑个玩家番开桌子中间牌堆的最上面那张，
            然后他可以决定要这牌还是不要，要的话拿回来面朝上摆在自己前面，
            不要的话要把自己的一个筹码放到上面，顺时针，轮到下一个玩家做同样的决定，
            直到有人要了这牌，要这牌的同时，还可以把在上面的筹码一并收到自己手中。
            要是你手上没有筹码了，就必须收到这牌。
            收牌的人番开下一张，决定要还是不要，游戏一直继续到中间的24张牌全部有归属。
            然后开始算分，算分规则就是一开始的游戏目的提到的，分数最高的就是输家。
            整个游戏设计最妙的地方，就是一开始游戏移除的9张随机牌和如果你手上有连续序列的牌的时候，
            只算最小的那一张分数，这使得整个游戏变得好玩。
            比如你手上有29的时候，你会看着31牌上面的一堆筹码（因为个个都pass放筹码，不想要这么高的分），想把他拿回来，
            然后又怕游戏一开始就移走了30，让你凑不成29 30 31呢。又或者是你已经有28 30的时候，29是没人想要的了，
            你是否愿意冒险（可能有人会手上没筹码而被迫拿走这牌）让这牌多转几圈赚筹码而不急于马上拿走呢？
            整个游戏要做的决定只有两个，要，还是不要。
        </p>
    </ul>
    <div class="add_wrap">
    <input type="text" class="player_name"/>
    <a class="add_player" href="##">添加玩家</a>
    <a class="start_game" href="##" style="display: none">开始游戏</a>
    </div>
</div>

<div class="players">

</div>

<script type="text/javascript" src="javascripts/libs/jquery/jquery.js"></script>
<script type="text/javascript" src="javascripts/libs/underscore/underscore.js"></script>
<script type="text/javascript" src="javascripts/libs/backbone/backbone.js"></script>
<script type="text/tpl" id='player-tpl'>
        <h4><%= name %></h4>
        <img src="<%= pic %>" alt="face"/>
        <div class="bet"><%= bet %></div>
        <div class="score"><%= score %></div>
        <div class="cards">
            <% _.each(groups,function(group){ %>
            <ul class="group">
                <%  _.each(group,function(card){ %>
                <li class="card"><%= card %></li>
                <% }) %>
            </ul>
            <% }) %>
        </div>
        <div class="tip">
            收到了张 <span class='receive'>12</span> 的牌，
            牌上面压着 <span class='betInCard'>0</span> 个筹码，
            要不要呢？？
            <button class="accept">收下</button>
            <button class="pass">跳过</button>
        </div>
</script>
<script type="text/javascript" src="javascripts/models.js"></script>
<script type="text/javascript" src="javascripts/event.js"></script>
<script type="text/javascript" src="javascripts/view.js"></script>
</body>
</html>